@media screen and (min-width: 1400px) {
  .title {
    top: 41.5vh;
  }

  .title span {
  top: 6.5vh;
  font-size: 0.7rem;
}

  .container {
    top: 64.5vh;
  }

  #generate-quote-button {
    position: absolute;
    width: 15vw;
    min-width: 180px;
    height: 2.8rem;
    bottom: 15vh;
  }
}

